/* Helpers */

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 25%;
}

.col-3 {
    width: 33.3%;
}

col-md-6 {
    width: 50%;
}

.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1 1 0%;
}

.d-inline-block {
    display: inline-block;
}

.p-fixed {
    position: fixed;
    z-index: 9;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.box-nav {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
}

.m-b {
    margin-bottom: 0.5rem;
}

.icon-color {
    color: var(--three-color);
}

.margin-x {
    margin-right: 1rem;
    margin-left: 1rem;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center !important;
}

img {
    max-width: 100%;
}

button {
    border: none;
    margin-right: 1rem;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    margin-right: 1rem;
    cursor: pointer;
}

i {
    font-size: 20px;
    color: var(--shadow-color);
}

.icon-32pt {
    font-size: 1.6rem;
}

.card-body {
    height: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 0.75rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #272c33;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #edf0f2;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 1px rgba(39, 44, 51, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-container {
    padding-right: 10.5rem;
    padding-left: 10.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul,
ol {
    list-style: none;
}

.btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 0.8125rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card {
    box-shadow: var(--shadow-cards);
    margin-bottom: 2rem;
    flex-direction: row;
    background-color: var(--background-page);
    border: 1px solid #dfe2e6;
    border-radius: 0.5rem;
}

.card-form-body {
    padding: 1rem 1rem 0;
}

.space-input {
    padding-right: 12px;
    padding-left: 12px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    color: var(--text-color-main);
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.custom-select {
    display: inline-block;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1.75rem 0.5rem 0.75rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #272c33;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #edf0f2;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 2px rgba(39, 44, 51, 0.075);
}

.header-title-card {
    margin-right: 1rem;
    font-size: 30px;
    color: var(--text-color-main);
}

.title-card {
    color: var(--text-color-main);
    font-weight: bold;
}

.card-subtitle {
    color: var(--text-color-altern);
    font-weight: 300;
    font-size: 15px;
    align-items: center;
}

.card-body-item {
    justify-content: space-between;
    padding: 1rem 0rem;
}

.btn-menu {
    align-self: flex-start;
}

.card-bg {
    border: 1px solid #dfe2e6;
    border-radius: 0.5rem;
    background-color: var(--text-color-primary);
    box-shadow: var(--shadow-cards);
}

.arrow-size {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 0.5rem;
    color: var(--pink-arrow);
}

.arrow-size-altern {
    color: var(--green-arrow);
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 0.5rem;
}

.chart-legend {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.chart-legend-item {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 0.8125rem;
    color: var(--text-color-altern);
    padding: 0.5rem;
    border: 1px solid #e9edf2;
    border-radius: 0.2rem;
}

.long-chart {
    height: 235px !important;
    width: 100% !important;
}

.title-card-conversion {
    color: var(--text-color-altern);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 1.3rem;
    display: block;
}

.text-altern {
    color: var(--text-color-altern) !important;
    font-weight: 400 !important;
    line-height: 1.2rem;
}

.size-btn {
    font-size: 1rem;
}

.p-x {
    padding: 2.2rem 0rem;
}

.icon-download {
    font-size: 0.8125rem;
    margin-left: 0.5rem;
}

.circle {
    display: block !important;
    width: 10px !important;
    height: 10px !important;
    visibility: visible !important;
    border-radius: 99% !important;
    background-color: red !important;
}

.mb {
    margin-bottom: 0.25rem !important;
}

.text-black-100 {
    font-weight: 600;
    color: #272c33;
    font-size: 0.875rem;
}

.text-black-70 {
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(39, 44, 51, 0.7);
}

.show-menu {
    opacity: 1 !important;
}

.hide-menu {
    opacity: 0 !important;
}

.hide-calendar {
    opacity: 0 !important;
}

.show-calendar {
    opacity: 1 !important;
}